@media (prefers-color-scheme: light) {
	 html:not([data-mode]), html[data-mode='light'] {
		 --sidebar-hover-bg: rgba(223, 227, 231, 0.6);
		 --bs-border-color-translucent: rgba(0, 0, 0, 0.1);
		 --fs-point: #3a6bff;
		 --search-border-color: rgba(0, 0, 0, 0.1);
		 --input-focus-border-color: rgba(0, 0, 0, 0.3);
		 --bs-btn-hover-bg: #3a6bff;
		 --toc-highlight: #3a6bff;
		 --link-color: #3a6bff;
	}
}
 @media (prefers-color-scheme: light) {
	 html[data-mode='dark'] {
		 --sidebar-hover-bg: #2d2f34;
		 --card-hover-bg: #2d2f34;
		 --card-bg: #000 0;
		 --avatar-border-color: rgba(0, 0, 0, 0.9);
		 --bs-border-color-translucent: rgba(255, 255, 255, 0.1);
		 --fs-point: #3a6bff;
		 --search-border-color: rgba(255, 255, 255, 0.1);
		 --input-focus-border-color: rgba(255, 255, 255, 0.4);
		 --bs-btn-hover-bg: #3a6bff;
		 --toc-highlight: #3a6bff;
		 --link-color: #3a6bff;
	}
}
 body::-webkit-scrollbar {
	 width: 6px;
	 border-radius: 99px;
}
 body::-webkit-scrollbar-thumb {
	 border-radius: 99px;
	 background-color: rgba(0, 0, 0, 0.15);
}
 body::-webkit-scrollbar-track {
	 border-radius: 99px;
	 background-color: rgba(0, 0, 0, 0.05);
}
 .btn:hover {
	 background: var(--bs-btn-hover-bg) !important;
}
 .btn.btn-outline-primary:not(.disabled):hover {
	 border-color: var(--bs-btn-hover-bg) !important;
}
 #sidebar {
	 background: none;
}
 #sidebar .site-title {
	 color: #444;
	 font-size: 1.55rem;
}
 #sidebar ul li.nav-item a.nav-link {
	 border-radius: 0;
}
 #sidebar ul li.nav-item a.nav-link i {
	 display: none;
}
 #sidebar .sidebar-bottom {
	 justify-content: center;
}
 #sidebar .sidebar-bottom [aria-label='twitter'] {
	 display: none;
}
 .post-tail-wrapper .share-wrapper .share-icons [aria-label='Twitter'], .post-tail-wrapper .share-wrapper .share-icons [aria-label='Facebook'], .post-tail-wrapper .share-wrapper .share-icons [aria-label='Telegram'] {
	 display: none;
}
 #topbar-wrapper {
	 height: 4rem;
}
 search {
	 border-radius: 2.6rem;
	 padding: 0 0.8rem;
	 gap: 0.2rem;
	 border-color: var(--search-border-color);
}
 #search-input {
	 height: 2.6rem;
}
 .input-focus {
	 border-color: var(--input-focus-border-color) !important;
}
 #topbar search {
	 margin-right: 0;
}
 .post-preview {
	 background: none;
	 box-shadow: none;
}
 .post-preview::before {
	 display: none;
}
 #post-list .card-wrapper:not(:last-child) {
	 border-radius: 0;
	 border-bottom: 1px solid var(--bs-border-color-translucent);
	 margin-bottom: 0;
}
 #post-list .card .post-preview .card-body {
	 padding: 1.6rem 1rem;
}
 #post-list .card .post-preview .card-body .card-title {
	 transition: color 0.3s ease;
}
 #post-list .card .post-preview:hover .card-body .card-title {
	 color: var(--fs-point) !important;
}
 .content h1 {
	 margin-bottom: 1.5rem;
}
 main h1 {
	 font-size: 2.5rem;
}
 main h2 {
	 font-size: 2rem;
	 margin-top: 4rem;
}
 main h3 {
	 font-size: 1.75rem;
	 margin-top: 3rem;
}
 main h4 {
	 font-size: 1.5rem;
}
 main h5 {
	 font-size: 1.25rem;
}
 main h6 {
	 font-size: 1.03rem;
}
 #page-category a:hover, #page-tag a:hover, #access-lastmod a:hover, .post-tail-wrapper .license-wrapper > a:hover, #search-results a:hover, footer a:hover, #topbar #breadcrumb a:hover, .post-meta a:not([class]):hover, .content a:not(.img-link):hover {
	 color: var(--fs-point) !important;
	 border-bottom: 1px solid var(--fs-point);
}
 #toc-wrapper ul ul {
	 padding-left: 1rem;
}
 #toc-wrapper ul ul ul {
	 padding-left: 1rem;
}
 #back-to-top:hover i::before {
	 color: #fff;
}
 @media (min-width: 768px) {
	 #post-list .card .card-body {
		 padding: 2rem 0;
	}
}
 @media (min-width: 850px) {
	 search {
		 max-width: 200px;
	}
}
 @media (min-width: 1200px) {
	 search {
		 max-width: calc(25% - 20px);
	}
}
 @media (min-width: 1650px) {
	 #sidebar .profile-wrapper {
		 paddnig-left: 3rem;
	}
	 #sidebar ul li.nav-item {
		 padding-left: 2rem;
		 padding-right: 2rem;
	}
	 #sidebar .sidebar-bottom {
		 padding-left: 1rem;
	}
}
 
