<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2013-01-seoul-korean-language-academy</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://aluvy.github.io/assets/js/pp/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://aluvy.github.io/assets/css/reset.css" />
    <link rel="stylesheet" href="https://aluvy.github.io/assets/css/pp/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="https://aluvy.github.io/assets/images/pp/2013-01-seoul-korean-language-academy-pc-01.jpeg" alt="Seoul Korean Language Academy" /></div>
        <div class="swiper-slide"><img src="https://aluvy.github.io/assets/images/pp/2013-01-seoul-korean-language-academy-pc-02.jpeg" alt="Seoul Korean Language Academy" /></div>
        <div class="swiper-slide"><img src="https://aluvy.github.io/assets/images/pp/2013-01-seoul-korean-language-academy-pc-03.jpeg" alt="Seoul Korean Language Academy" /></div>
        <div class="swiper-slide"><img src="https://aluvy.github.io/assets/images/pp/2013-01-seoul-korean-language-academy-pc-04.jpeg" alt="Seoul Korean Language Academy" /></div>
        <div class="swiper-slide"><img src="https://aluvy.github.io/assets/images/pp/2013-01-seoul-korean-language-academy-pc-05.jpeg" alt="Seoul Korean Language Academy" /></div>
        <div class="swiper-slide"><img src="https://aluvy.github.io/assets/images/pp/2013-01-seoul-korean-language-academy-pc-06.jpeg" alt="Seoul Korean Language Academy" /></div>
        <div class="swiper-slide"><img src="https://aluvy.github.io/assets/images/pp/2013-01-seoul-korean-language-academy-pc-07.jpeg" alt="Seoul Korean Language Academy" /></div>
        <div class="swiper-slide"><img src="https://aluvy.github.io/assets/images/pp/2013-01-seoul-korean-language-academy-pc-08.jpeg" alt="Seoul Korean Language Academy" /></div>
        <div class="swiper-slide"><img src="https://aluvy.github.io/assets/images/pp/2013-01-seoul-korean-language-academy-pc-09.jpeg" alt="Seoul Korean Language Academy" /></div>
        <div class="swiper-slide mobile"><img src="https://aluvy.github.io/assets/images/pp/2013-01-seoul-korean-language-academy-mobile-01.jpeg" alt="Seoul Korean Language Academy" /></div>
        <div class="swiper-slide mobile"><img src="https://aluvy.github.io/assets/images/pp/2013-01-seoul-korean-language-academy-mobile-02.jpeg" alt="Seoul Korean Language Academy" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</html>
