<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2015-10-pool2-math</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/pp/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/pp/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/pp/2015-10-pool2-math-01.jpg" alt="Pool2 Math" /></div>
        <div class="swiper-slide"><img src="/images/pp/2015-10-pool2-math-02.jpg" alt="Pool2 Math" /></div>
        <div class="swiper-slide"><img src="/images/pp/2015-10-pool2-math-03.jpg" alt="Pool2 Math" /></div>
        <div class="swiper-slide"><img src="/images/pp/2015-10-pool2-math-04.jpg" alt="Pool2 Math" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</html>
