<!doctype html>
<html lang="ko">
  <head>
    <base id="dynamic-base" href="/assets/" />
    <script src="https://aluvy.github.io/assets/js/pp/base-url.js" rel="preload"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2015-01-daekyo</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/pp/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/pp/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide mobile"><img src="images/pp/2015-01-daekyo-01.jpg" alt="Daekyo" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2015-01-daekyo-02.jpg" alt="Daekyo" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2015-01-daekyo-03.jpg" alt="Daekyo" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2015-01-daekyo-04.jpg" alt="Daekyo" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2015-01-daekyo-05.jpg" alt="Daekyo" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</html>
