<!doctype html>
<html lang="ko">
  <head>
    <base id="dynamic-base" href="/_assets/" />
    <script src="https://aluvy.github.io/_assets/js/pp/base-url.js" rel="preload"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2019-03-sobo</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/pp/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/pp/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-01.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-tablet-01.jpg" alt="sobo" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2019-03-sobo-mobile-01.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-02.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-03.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-04.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-05.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-06.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-07.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-08.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-09.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-10.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-11.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-12.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-13.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-14.jpg" alt="sobo" /></div>
        <div class="swiper-slide"><img src="images/pp/2019-03-sobo-15.jpg" alt="sobo" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</html>
