<!doctype html>
<html lang="ko">
  <head>
    <base id="dynamic-base" href="/_assets/" />
    <script src="https://aluvy.github.io/_assets/js/pp/base-url.js" rel="preload"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2020-06-natures-pharm</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/pp/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/pp/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-01.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-02.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-03.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-04.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-05.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-06.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-07.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-08.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-09.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-10.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-11.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide"><img src="images/pp/2020-06-natures-pharm-pc-12.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2020-06-natures-pharm-mobile-01.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2020-06-natures-pharm-mobile-02.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2020-06-natures-pharm-mobile-03.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2020-06-natures-pharm-mobile-04.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2020-06-natures-pharm-mobile-05.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2020-06-natures-pharm-mobile-06.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2020-06-natures-pharm-mobile-07.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2020-06-natures-pharm-mobile-08.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2020-06-natures-pharm-mobile-09.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2020-06-natures-pharm-mobile-10.jpeg" alt="Natures Pharm" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2020-06-natures-pharm-mobile-11.jpeg" alt="Natures Pharm" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</html>
