<!doctype html>
<html lang="ko">
  <head>
    <base id="dynamic-base" href="/_assets/" />
    <script src="https://aluvy.github.io/_assets/js/pp/base-url.js" rel="preload"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2022-10-pinkey</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/pp/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/pp/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/pp/2022-10-pinkey-pc-01.png" alt="Pinkey" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-10-pinkey-pc-02.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-01.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-02.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-03.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-04.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-05.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-06.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-07.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-08.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-09.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-10.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-11.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-12.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-13.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-14.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-15.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-16.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-17.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-18.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-19.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-20.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-21.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-22.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-23.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-24.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-25.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-26.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-27.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-28.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-29.png" alt="Pinkey" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2022-10-pinkey-mobile-30.png" alt="Pinkey" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</html>
