<!doctype html>
<html lang="ko">
  <head>
    <base id="dynamic-base" href="/_assets/" />
    <script src="https://aluvy.github.io/_assets/js/pp/base-url.js" rel="preload"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2022-11-manggo</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/pp/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/pp/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-01.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-02.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-03.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-04.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-05.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-06.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-07.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-08.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-09.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-10.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-11.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-12.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-manage-01.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-manage-02.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-manage-03.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-manage-04.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-manage-05.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-manage-06.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-manage-07.png" alt="Manggo" /></div>
        <div class="swiper-slide"><img src="images/pp/2022-11-manggo-manage-08.png" alt="Manggo" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</html>
