<!doctype html>
<html lang="ko">
  <head>
    <base id="dynamic-base" href="/_assets/" />
    <script src="https://aluvy.github.io/_assets/js/pp/base-url.js" rel="preload"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2023-06-battery</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/pp/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/pp/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/pp/2023-06-battery-pc-01.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide"><img src="images/pp/2023-06-battery-pc-02.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide"><img src="images/pp/2023-06-battery-pc-03.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide"><img src="images/pp/2023-06-battery-pc-04.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide"><img src="images/pp/2023-06-battery-pc-05.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide"><img src="images/pp/2023-06-battery-pc-06.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide"><img src="images/pp/2023-06-battery-pc-07.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide"><img src="images/pp/2023-06-battery-pc-08.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide"><img src="images/pp/2023-06-battery-pc-09.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-06-battery-mobile-01.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-06-battery-mobile-02.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-06-battery-mobile-03.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-06-battery-mobile-04.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-06-battery-mobile-05.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-06-battery-mobile-06.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-06-battery-mobile-07.png" alt="LG Battery Life Care" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-06-battery-mobile-08.png" alt="LG Battery Life Care" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</html>
