<!doctype html>
<html lang="ko">
  <head>
    <base id="dynamic-base" href="/assets/" />
    <script src="https://aluvy.github.io/assets/js/pp/base-url.js" rel="preload"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2023-09-alpha</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/pp/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/pp/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-01.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-02.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-03.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-04.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-05.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-06.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-07.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-08.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-09.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-10.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-11.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-12.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-13.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-14.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-15.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-16.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-17.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-18.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-19.png" alt="Kbliiv" /></div>
        <div class="swiper-slide mobile"><img src="images/pp/2023-09-alpha-20.png" alt="Kbliiv" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</html>
