<!doctype html>
<html lang="ko">
  <head>
    <base id="dynamic-base" href="/_assets/" />
    <script src="https://aluvy.github.io/_assets/js/pp/base-url.js" rel="preload"></script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2025-06-sds</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="js/pp/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/pp/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="images/pp/2025-06-sds-01.png" alt="Samsung SDS" /></div>
        <div class="swiper-slide"><img src="images/pp/2025-06-sds-02.png" alt="Samsung SDS" /></div>
        <div class="swiper-slide"><img src="images/pp/2025-06-sds-03.png" alt="Samsung SDS" /></div>
        <div class="swiper-slide"><img src="images/pp/2025-06-sds-04.png" alt="Samsung SDS" /></div>
        <div class="swiper-slide"><img src="images/pp/2025-06-sds-05.png" alt="Samsung SDS" /></div>
        <div class="swiper-slide"><img src="images/pp/2025-06-sds-06.png" alt="Samsung SDS" /></div>
        <div class="swiper-slide"><img src="images/pp/2025-06-sds-07.png" alt="Samsung SDS" /></div>
        <div class="swiper-slide"><img src="images/pp/2025-06-sds-08.png" alt="Samsung SDS" /></div>
        <div class="swiper-slide"><img src="images/pp/2025-06-sds-09.png" alt="Samsung SDS" /></div>
        <div class="swiper-slide"><img src="images/pp/2025-06-sds-10.png" alt="Samsung SDS" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</html>
