<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>2025-12-kbs-election</title>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/pp/ui.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/pp/style.css" />
  </head>
  <body>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/pp/2025-12-kbs-election-pc-01.png" alt="KBS election" /></div>
        <div class="swiper-slide"><img src="/images/pp/2025-12-kbs-election-pc-02.png" alt="KBS election" /></div>
        <div class="swiper-slide"><img src="/images/pp/2025-12-kbs-election-pc-03.png" alt="KBS election" /></div>
        <div class="swiper-slide mobile"><img src="/images/pp/2025-12-kbs-election-mobile-01.png" alt="KBS election" /></div>
        <div class="swiper-slide mobile"><img src="/images/pp/2025-12-kbs-election-mobile-02.png" alt="KBS election" /></div>
        <div class="swiper-slide mobile"><img src="/images/pp/2025-12-kbs-election-mobile-03.png" alt="KBS election" /></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </body>
</html>
