html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #444;
}

.swiper-slide.mobile img {
  width: 360px;
}

.swiper-button-next,
.swiper-button-prev {
  position: fixed;
}
